[ ca ]
default_ca = CA_default

[ CA_default ]
dir               = /home/finn/.smarthouse-secrets/ca/ca-db
database          = $dir/index.txt
new_certs_dir     = $dir/newcerts
certificate       = /mnt/c/smarthouse/certs/ca.crt
private_key       = /home/finn/.smarthouse-secrets/ca/ca.key
serial            = $dir/serial
crlnumber         = $dir/crlnumber
crl               = /mnt/c/smarthouse/certs/ca.crl
default_md        = sha256
default_days      = 825
default_crl_days  = 30
policy            = policy_loose
x509_extensions   = server_ext
copy_extensions   = copy
unique_subject    = no

[ policy_loose ]
commonName = supplied

[ server_ext ]
authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage=digitalSignature,keyEncipherment
extendedKeyUsage=serverAuth
subjectAltName=@alt_names

[ alt_names ]
DNS.1 = mqtt
DNS.2 = localhost
IP.1 = 127.0.0.1

[ client_ext ]
authorityKeyIdentifier=keyid,issuer
basicConstraints=CA:FALSE
keyUsage=digitalSignature,keyEncipherment
extendedKeyUsage=clientAuth
